
.register {
    align-items: flex-start;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.register--body {
    background-color: rgba(128, 128, 128, 0.169);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.576);
    margin-top: 10vh;
    max-width: 1000px; /* Pevná šírka 1000px */
    padding: 40px;
    width: 100%;
}

.loginHeadline {
    margin: 20px;
    font-size:xx-large;
    font-weight: bold;
}

.anotation {
    color: blue;
    text-decoration: underline;
}

.blockBox {
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.col--flex {
    flex-direction: column;
}

.message {
    border-radius: 1vh;
    text-align: center;
    width: fit-content;
    margin-bottom: 3vh;
    margin-top: 1vh;
    padding: 3vh;
}

.loginButton {
    margin:  15px;
    padding: 10px;
    border-radius: 1svh;
    border: solid 2px white;
    background-color: rgb(149, 175, 179);
    font-weight:600;
    color: white;
}

.loginButton:hover {
    background-color: rgba(119, 138, 141, 0.698);
}

.loginInput {
    border-bottom: 2px solid #3498db;
    border-radius: 0.4svw;
    border: solid 1px gray;
    margin-bottom: 10px;
    outline: none;
    padding: 16px;
    width: 16vw;
}
.loginInput:focus {
    border-color: #2ecc71;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}