.navbar {
    background-color: rgb(181, 233, 233);
    max-height: min-content;
}

.navbar__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar--style
{
    background: linear-gradient(to right, rgb(169, 176, 245), rgb(53, 156, 224));
    box-shadow: 5px 5px 15px rgb(46, 45, 45);
}

.navbar__headline {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    justify-content: center;
    padding: 1rem;
}
.navbar__headline__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.navbar__headline__icon {
    height: 3rem;
}

.navbar__menu-button {
    max-width: 3rem;
    padding: 1rem;
}

.menu-nav {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.shown-menu {
    max-height: 100vh;
}

.navbar__options {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 247, 247);
    gap: 1rem;
    max-height: 0;
    transition: padding 0.5s ease-in-out, max-height 0.5s ease-in-out;
    overflow: hidden
}

.navbar__menu__option {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;    
}

.open {
    padding: 1rem;
    max-height: 100svh;

}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar__menu-button {
        display: none;
    }
    .navbar__options {
        max-height: unset;
        width: 100%;
        background-color: unset;
        flex-direction: row;
        justify-content: space-around;
    }
    .navbar__menu__option {
        text-decoration: none;
    }

    .navbar__headline__icon {
        height: 5rem;
    }
    
    .navbar__menu__option:hover {
        color: rgb(24, 60, 158);
    }
    .menu-nav {
        max-height: unset;
    }
}